window.contentGridConfig = {
    v1: {
        apiBaseUrl: "${API_BASE_URL}",
        oidc: {
            authority: "${OIDC_AUTHORITY}",
            client_id: "${OIDC_CLIENT_ID}"
        },
        renditionUriTemplate: "${RENDITION_URI_TEMPLATE}"
    }
};
